# Ignore dataset
CheXpert/

# Ignore system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc
# Spyder project files
.spyproject/

# Data (never commit raw datasets)
data/

# Model checkpoints (too large for git)
outputs/checkpoints/
*.pth
*.pt
